body {
  background-color: #f4f4f4;
}

.App {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template: "menu view" /1fr 3fr;
}

.menuArea {

}
.menu {
  background: white;
  float: right;
  padding: 16px 32px;
  margin: 16px;
  border: 1px solid #d0d0d0;
}
.menu p {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.viewArea {
  background-color: lightgreen;
}